@page
@using Newtonsoft.Json
@using System.Net
@model ForeningsPortalen.Website.Pages.BookingUnits.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Vælg en ledig dato, hvor du vil booke @Model.BookingUnit.Name</h1>

<div class="container text-center" style="max-height: 75vh; overflow-y:scroll">

    <table class="table mx-auto">
        <thead style="position:sticky; top:0; background-color: white;">
            <tr>
                <th>
                    <h5>Ledige datoer</h5>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var index in Enumerable.Range(0, Model.AvailableDates.Count()))
            {
                var item = Model.AvailableDates[index];
                var endTime = Model.AvailableDatesEndTime[index];
                var bookingDurationType = Model.BookingDurationType;


                var serializedItem = JsonConvert.SerializeObject(@Model.BookingUnit);
                var encodedItem = System.Net.WebUtility.UrlEncode(serializedItem);
                var encodedDate = System.Net.WebUtility.UrlEncode(item.ToString("o")); // o is round-trip format
                var encodedEndTime = System.Net.WebUtility.UrlEncode(endTime.ToString("o")); // o is round-trip format

                <tr>
                    <td>
                        @* <a asp-page="/Bookings/Create"> *@
                        @if (bookingDurationType == "Hours")
                        {
                            @item.ToString("dddd, dd/MM/yyyy HH:mm - ") @endTime.ToString("HH:mm")
                        }
                        else if (bookingDurationType == "Days")
                        {
                            @item.ToString("dddd, dd/MM/yyyy - ") @endTime.ToString("dddd, dd/MM/yyyy")
                        }
                        @* </a> *@
                        <details>
                            <summary>
                                Vis mere
                            </summary>
                            <a asp-page="/Bookings/Confirmation" asp-route-startTime="@encodedDate" 
                            asp-route-endTime="@encodedEndTime" asp-route-bookingUnit="@encodedItem"
                            method="get" style="display:inline;">Book</a>
                        </details>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div>
</div>
