@page
@model ForeningsPortalen.Website.Pages.Bookings.CreateModel

@{
    ViewData["Title"] = "Index";
}

<h1>Opret Booking</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IndexCategoryModel[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndexCategoryModel[0].DurationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndexCategoryModel[0].MaxBookingsOfThisCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.IndexCategoryModel)
        {
            <tr>
                <td>
                    <input type="hidden" name="itemId" value="@item.Id" />
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DurationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxBookingsOfThisCategory)
                </td>
                <td>
                    <a asp-page="/BookingUnits/Index" asp-route-categoryId="@item.Id">Se bookingenheder for kategori</a> |
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>