@page
@model ForeningsPortalen.Website.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookingIndexModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingIndexModel.CreatedOndate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingIndexModel.CreatedOndate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingIndexModel.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingIndexModel.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingIndexModel.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingIndexModel.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingIndexModel.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingIndexModel.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingIndexModel.BookingUnits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingIndexModel.BookingUnits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingIndexModel.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingIndexModel.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingIndexModel.Rowversion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingIndexModel.Rowversion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BookingIndexModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
